* {
  font-family: 'Bree Serif';
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
s .logo-container {
  display: flex;
  align-items: center;
}
.ipl-logo {
  width: 30px;
  height: 50px;
  margin-right: 15px;
}
.heading {
  color: white;
  font-size: 35px;
}
.list-container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
}
