.team-banner-img {
  width: 100%;
  height: 20vh;
}
.team-match-details-container {
  padding-top: 5%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #a4261d;
  min-height: 100vh;
}
.latest-matches {
  color: white;
  font-size: 20px;
}
